<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- Google tag (gtag.js) - geography & analytics, invisible to visitors -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-LCC4R0HD24"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());
			  gtag('config', 'G-LCC4R0HD24');
			</script>
			<script src="/assets/js/ga-events.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Jipeng Sun</a></li>
	        		<li><a href="/projects.html">Projects</a></li>
					
					<li><a href="https://jipengsun.github.io/2023_NU_Summer_VR/" data-ga-event="vr_ar_course">VR/AR Course</a></li>
					<!--<li><a href="#">Gallery</a></li>-->
								
	        		<!--<li><a href="/blog">Blogs</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jipengsun1997@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jipengsun">github.com/jipengsun</a></li>
				</ul>
			</footer>
		</body>
	</html>
