<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Jipeng Sun</a></li>
	        		<li><a href="/projects.html">Projects</a></li>
					
					<li><a href="https://jipengsun.github.io/2023_NU_Summer_VR/">VR/AR Course</a></li>
					<!--<li><a href="#">Gallery</a></li>-->
								
	        		<li><a href="/blog">Blogs</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jipengsun1997@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jipengsun">github.com/jipengsun</a></li>
				</ul>
			</footer>
		</body>
	</html>
