<!DOCTYPE html>
	<html>
		<head>
			<title>Jipeng's Personal Page</title>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<link rel="stylesheet" href="assets/css/main.css" />
			<meta name="google-site-verification" content="6M7vbPGy68O9LlGP8yiQzZm8hxsiSYlEF2F8ghGJdWo" />
		</head>
		<body class="is-preload">
				<!-- Wrapper -->
				<div id="wrapper">

					<!-- Header -->
						<header id="header">
							<h1><a href="index.html">Jipeng Sun</a></h1>
							<nav class="links">
								<ul>
									<li><a href="index.html">Home</a></li>
									<!--<li><a href="#">About</a></li>-->
									<li><a href="projects.html">Projects</a></li>
									<!--<li><a href="single.html">Resources</a></li>-->
									<li><a href="blog/index.html">Blogs</a></li>
									<!--<li><a href="#">Gallery</a></li>-->
								</ul>
							</nav>
							<nav class="main">
								<ul>
									<li class="search">
										<a class="fa-search" href="#search">Search</a>
										<form id="search" method="get" action="#">
											<input type="text" name="query" placeholder="Search" />
										</form>
									</li>
									<li class="menu">
										<a class="fa-bars" href="#menu">Menu</a>
									</li>
								</ul>
							</nav>
						</header>
	
					<!-- Menu -->
						<section id="menu">
	
							<!-- Search -->
								<section>
									<form class="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</section>
	
						</section>

					<div class="container">
		
						{{ content }}
						
						</div><!-- /.container -->
	
							<!-- Footer -->
								<section id="footer">
									<ul class="icons">
										<li><a href="https://github.com/JipengSun" class="icon brands fa-github"><span class="label">Github</span></a></li>
										<li><a href="https://www.linkedin.com/in/jipeng-sun-2400bb115/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
										<li><a href="mailto:jipengsun2021@u.northwestern.edu" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
									</ul>
									<p class="copyright">&copy; JIPENG SUN <a href="https://jipengsun.github.io/">jipengsun.github.io</a>.</p>
								</section>
	
						</section>
	
				</div>
		</body>
	</html>
